.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .check {
    margin-right: 5px;
  }

  .complete {
    text-decoration: line-through;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
